---
title: I built a Bamboo bike! (and then broke it)
description: My most original project so far! I built my very own bamboo bike, out of bamboo, hemp fibers and epoxy.
layout: post
---
<!-- Text stuff -->
<div class="contain justified">I am very proud to present to you my coolest project to date: My very own Bamboo bike!<br/><br/>

  <a href="#" class="image smallleft"><img src="{{ 'assets/images/bamboobike/done/IMG_20200601_152108.jpg' | relative_url }}" alt="My bamboo bike!"/></a>
</div>
<p>
Coming from Strasbourg, where biking is a second nature, I am a big advocate for taking the bike instead of the car whenever possible. I believe biking is making people healthier, reducing our carbon footprint, and even raising one's happiness level, as it is a truly enjoyable experience!<br/><br/>

  Last year, I've attended a conference on soft robotics, where one of the speaker said something that captured my attention. Rephrased in my own words, it sounded like:<br/>
  "As researchers and engineers in a relatively new field of expertise, it is an opportunity, but also our duty to explore renewable materials in the production of our robots, and to avoid creating trashed wastelands of discarded flexible robots if those ever become part of a large industry."<br/>
  This sentence really marked me, especially since I've been experimenting a bit with different materials to mimmick human organs, and turned a lot to silicone rubbers and foams in my experiments.<br/><br/>
  
  During the following months, I've discovered the interesting properties, and huge amount of applications of bamboo.<br/>
  Bamboo is a truly wonder-material. As all plants do, it captures Co2 in its environment and turns it into a unique material. Amazingly, it also does so extremely rapidly: Bamboo can grow up to almost a meter in 24-hour, at a rate of 40mm/h!<br/>
  This means that using bamboo for industrial application drastically reduces environmental impacts.
  Bamboo can grow up to 30 meters tall, and be as large as 300mm, which makes it scalable for many many applications.<br/><br/>
  Finally, bamboo isn't a tree, but a grass. And this distinction means that the fibers of a bamboo tube run uninterrupted from the stem to the very top, giving it outstanding mechanical properties: Bamboo is strong, with a tensile strength similar to steel once heat-treated, and an axial tensile Young's Modulus that can go up to 25Gpa. this means that it is a very flexible, very resistant, and very durable material, used to build anything from scaffoldings to textiles or paper, and even... bike frames! <br/><br/>
  
Just before the confinement, I decided that I would build myself a bamboo bike, and bought hemp threads and epoxy to use as composite for the jointures, and bamboo for the tubes. two persons I barely know donated me old, broken steel bike frames that I canibalized for the project (to reuse the seat, bottom bracket, fork and rear dropouts)<br/><br/>

  Of course, I had never done anything like it before. This project made me discover the amazingly complicated world of bicycle component standards, and tought me how to properly miter joints, mix epoxy, and create composite materials.<br/>
  I very quickly understood that the first version of this bicycle would be nowhere near perfect, but I kept on going anyway, keeping in mind that a second iteration will be in order to master the process:<br/>
  I made <strong>a lot</strong> of mistakes along the way, from using hemp thread instead of fabric (which cost me hours of unnecessary work, while not at all improving mechanical strength) on my fixtures, to breaking my frame by trusting way too much the resistance of the frame after tacking the tubes together...<br/><br/>

  Eventually though, I completed the bike frame, and it looked <strong>amazing</strong>! It was time to install the fork, the groupset, some wheels, pedals and a handlebar. I was planning on buying second hand components from the local auto-repair shop close by, but with the covid, this one was closed. Luckily though, one of my neighbor, that I never saw before the confinement, happen to be a bike specialist with a garage full of salvaged bicycle components! He generously gave me (for free!) everything that I needed, which allowed to finish the whole project for a total cost of 75€! (40€ of epoxy resin and about 35€ of hemp thread and bamboo!)</p>

  <h2>That's great... but how did it perform..?</h2>
<p>Well... not as well as I hoped, but way better that I expected!<br/>
  I finished the bike at the end of May, and by the end of June I had biked almost 600km with it. And I really pushed it to its limits, by biking on asphalt, but also dirt roads, pavements of the "Viex Lille", climbing side-walks, etc. I also biked under all possible weather conditions (and whoever lives in Lille knows that weather conditions can be really, really shitty!).<br/><br/>

  The bike performed really well, although it is hard for me to compare: I only had mountain bikes so far, and this was a single speed, road bike. The only bike I could compare with was the carbon road bike and the heavy steel Fixie of two of my friends.<br/>
  The two most shocking aspect of this bike were:<br/><br/>
  <ul>
    <li><strong>Its weight</strong>:weighing less than 11kgs, all components included, despite the fact that I kept the very heavy rear triangle from the original bike</li>
    <li><strong>Its comfort</strong>: especially when compared with my friend's carbon road bike, the bamboo absorbs every little imperfection of the road, providing a really smooth ride. Of course, the frame's flexibility also means that more energy is lost when pedaling, but it didn't feel harder to bike on a steel frame than on the bamboo frame, and the comfort definitely outweights the cons in my opinion!</li>
  </ul>

  Sadly, after about 600-700km, the bike frame broke! Honestly, after so many kilometers I trusted this frame so much that it was a bit of a shocker to see it break down! Even more surprisingly, it waasn't the composite joints that failed, but the bamboo itself. To this day, I am not 100% sure that I know what really happened... My theory is that either the species of bamboo wasn't solid enough for this project, or that the heat treatment of the bamboo hadn't been done properly.</p>

<h2>Future work</h2>
<p>Although I am not 100% certain of what caused the bike frame to break, I know that I did a lot of mistakes in the building process, and that correcting them might yield to a better result.<br/>
  I am determined to build a second version of this bamboo bike, with the following changes in the building process:</p>
  
<div class="contain justified">
  <a href="#" class="image smallleft"><img src="{{ 'assets/images/bamboobike/building/IMG_20200221_091215.jpg' | relative_url }}" height="100" alt="Pre-attaching the seat tube of another bike on the frame"/></a>
  <strong>Building a bike frame jig:</strong> To build the first bike, I basically replaced each stee tube on the original bike one by one with a bamboo tube. This means that I have no other choice but to build a bike with the exact same geometry as the "canibalized" frame. Building by own jig will mean that I can customize the build entirely, making whatever kind of bike I want, for whatever morphology!<br/>This will also remove the need to rely on a broken bike frame for the construction, which added its own troubbles to the building process. For instance a seatpost had been force-pushed inside the seat tube, which made it unusable. I had to cut it out of the frame, add the seat tube of another bike, and tack it to the main frame for this build...
  </div>
  
  <div class="contain justified">
    <a href="#" class="image smallleft"><img src="{{ 'assets/images/bamboobike/building/IMG_20200228_144232.jpg' | relative_url }}" height="100" alt="wrapping with thread instead of fabric strips means hundreds of turns around the fixture, and hours of work"/></a>
    <strong>Using Hemp fabric instead of thread:</strong> I was really dumb to use thread instead of strips of fabric! strips of fabric would not only improve mechanical strength by providing perpendicular tensile resistance along the strips direction, but would also <strong>tremendously</strong> reduce the number of wrappings of the joints, thus saving time, energy, and <strong>a lot</strong> of those nitrile gloves I used to manipulate the epoxy-soaked hemp threads (I bought a box of 100 pairs of nitrile gloves and I have probably emptied half of the box for one bike frame!)
  </div>
  
  <div class="contain justified"><a href="#" class="image smallright"><img src="{{ 'assets/images/plasticJoint.jpg' | relative_url }}" height="100" alt="an example of plastic bottle joint: the plastic is heatshrunk around the joint fixture"/></a>
<strong>Experimenting with recycled bottle joints:</strong> The whole point of this project was to build a whole bike using clean or recycled materials, and to ride a bike that would be some kind of promotional statement on its own, an apology of durable, bio-sourced materials. Hemp and bamboo are definitely good choices, but obviously, epoxy ruins the whole concept...<br/>
    To begin with, this project was complex, and full of uncertainties, and I didn't want to add more complexity to it on my first attempt. But seing that the joints held tight even after the bike broke down comforts me in the idea of replacing epoxy with a less chemically stable material. Two ideas come to mind for now, and I hope I will get to experiment with booth of them in a near future: one is to usse recycled plastic bottles to wrap over the hemp fabric (that would have been soaked with PVA glue - wood glue - instead of epoxy), giving it both strong mechanical strength and weather resistance. The second idea is a bit more excentric, and would be to experiment with a composite of bio-sourced fibers and mycelium</div>

<p>
Anyway I hope to come back to you soon with a <strong>BambooBike - Mark II</strong>!
</p>

<h2>Gallery</h2>
<h4>building process:</h4>
<hr/>
{% include photo-gallery.html folder="/assets/images/bamboobike/building" %}

<h4>result:</h4>
<hr/>
{% include photo-gallery.html folder="/assets/images/bamboobike/done" %}
